button {
  padding: var(--size-2) var(--size-4);
  color: var(--gray-1);
  &.primary {
    background-color: var(--brand);
  }
  &.secondary {
    background-color: var(--gray-7);
  }
  border-radius: var(--radius-1);
  &:hover {
    opacity: 0.8;
  }
}
