.card {
  position: relative;
  box-shadow: var(--shadow-2);
  padding: var(--size-fluid-2) var(--size-fluid-2);
  background-color: var(--surface-2);
  border-radius: var(--radius-2);

  &:hover {
    box-shadow: var(--shadow-3);
  }

  & > h3 {
    position: relative;
  }
}
