/* 
Primary Color #282846
Secondary Color #fed049
Medium Color #007580
Light Color #d8ebe4
*/

:root {
  --primary: #182153;
  --secondary: #f1f1f1;
  --accent1: #28a745;
  --accent2: #f48b29;
  --accent3: #151515;
}

.btn {
  padding: 0.7rem 1.7rem;
  font-size: 1.8rem;
  border: 0ch;
  font-weight: 900;
  border-radius: 3px;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--accent1);
  color: var(--secondary);
}

.btn--secondary {
  color: var(--secondary);
  background-color: var(--accent2);
}

.icon {
  background-color: var(--secondary);
  font-size: 18px;
}

.separator {
  align-items: center;
  display: flex;
  position: relative;
}

.separator__text {
  left: 50%;
  background-color: var(--secondary);
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
}

.separator__line {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  height: 0.3rem;
  width: 100%;
}
