@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

:root {
  --brand: var(--indigo-9);
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand: var(--indigo-0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  scroll-snap-type: y mandatory;
  overflow-y: scroll;
  height: 100vh;
  position: relative;
}

#intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  min-height: 300px;
  margin-inline: var(--size-5);
  position: relative;
  background-color: var(--gradient-30);
}

#intro button {
  padding-inline: var(--size-4);
  padding-block: var(--size-2);
}

#intro button:hover {
  background-color: var(--gray-8);
  color: var(--gray-0);
}

#intro:first-of-type a:first-child button {
  background-color: var(--green-8);
  color: var(--gray-1);
}

#intro:first-of-type a:first-child button:hover {
  background-color: var(--green-6);
}

#intro .label {
  background-color: var(--surface-3);
  color: var(--surface);
  padding-inline: var(--size-4);
  padding-block: var(--size-2);
  border-radius: var(--radius-conditional-1);
  font-size: var(--font-size-fluid-1);
  width: fit-content;
}

#intro .title {
  font-size: var(--font-size-fluid-2);
  font-weight: var(--font-weight-9);
  margin-block: var(--size-1);
}

#intro .subtitle {
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-6);
  margin-bottom: var(--size-3);
}

#description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--surface-2);
  padding: var(--size-4);
}

#description > .icons-group {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--size-2);
}

#experience {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--size-4);
}

#experience h2 {
  margin-bottom: var(--size-8);
}

#project {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--surface-3);
  padding-block: var(--size-8);
}

#project h2 {
  margin-bottom: var(--size-8);
}

#project .card-group {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
}

#project .card {
  margin-inline: var(--size-2);
  margin-bottom: var(--size-4);
  max-width: var(--size-content-2);
  border: var(--border-size-2) solid var(--brand);
  border-radius: var(--radius-conditional-2);
  background-size: cover;
  background-color: var(--surface-1);
  box-shadow: var(--shadow-3);
  background-position: center;
}

#project .card:nth-child(odd) {
  background-color: var(--surface-2);
}

#project .card-body {
  padding: var(--size-fluid-2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

#project .card-body > h4 {
  margin-bottom: var(--size-2);
}

#project .card-body > p {
  margin-bottom: auto;
}

#contact {
  display: flex;
  padding-block: var(--size-8);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

button {
  border-radius: var(--radius-conditional-2);
  font-weight: var(--font-weight-6);
  background-color: var(--brand);
  padding-inline: var(--size-4);
  padding-block: var(--size-2);
  color: var(--surface-2);
  font-weight: var(--font-weight-7);
}

h2 {
  font-size: var(--font-size-fluid-2);
}

h5 {
  font-size: var(--font-size-fluid-1);
}

span {
  color: var(--indigo-8);
}

.icons-group {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-3);
  padding-block: var(--size-3);
}

.read-more {
  cursor: pointer;
  color: var(--brand);
}

.footer {
  height: 10rem;
  padding: 2rem;
  background-color: var(--gray-4);
  align-self: center;
}

.footer h3 {
  color: var(--gray-9);
}
