.timeline {
  position: relative;
  max-width: 110rem;
  display: flex;
  justify-content: center;
  margin-inline: var(--size-5);
  margin-bottom: var(--size-8);
}

.timeline p {
  text-align: justify;
}

.timeline::after {
  top: 0;
  bottom: 0;
  background-color: var(--brand);
  position: absolute;
  content: " ";
  width: 2px;
}

.timeline__left {
  border-radius: var(--radius-conditional-1);
  flex: 1;
  text-align: right;
  margin-right: var(--size-5);
}

.timeline__right::before {
  content: " ";
  background-color: var(--brand);
  height: var(--size-fluid-2);
  width: var(--size-fluid-2);
  position: absolute;
  border-radius: 50%;
  left: -2.3rem;
}

.timeline__right {
  flex: 1;
  border-radius: var(--border-size-3);
  position: relative;
  margin-left: var(--size-5);
}

.timeline__right h6 {
  cursor: pointer;
  color: var(--gray-5);
}

.timeline__right h6:hover {
  color: var(--blue-7);
}

.badge {
  background-color: var(--surface-4);
  padding: var(--size-fluid-1);
  font-size: var(--size-fluid-1);
  color: var(--grey-0);
  font-weight: var(--font-weight-5);
  float: right;
  display: none;
  border-radius: var(--border-size-3);
}

@media (max-width: 768px) {
  .timeline__left {
    display: none;
  }

  .timeline::after {
    left: 0;
  }

  .timeline__right::before {
    left: -2rem;
  }

  .badge {
    display: block;
  }
}
