.title {
    color: #d8ebe4;
    font-size: xx-large;
}

.subtitle {
    color: #d8ebe4cc;
    font-size: x-large;
    margin-top: 0.5rem;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem
}

h3 {
    font-size: 2rem;
}

p {
    font-size: 1.6rem;
}