#experience {
  overflow: hidden;
  .list {
    display: flex;
    gap: var(--size-fluid-2);
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    & > * {
      scroll-snap-align: start;
      flex-shrink: 0;
      @media screen and (min-width: 800px) {
        width: 32%;
        min-width: 450px;
      }
    }

    ol,
    ul {
      padding-left: var(--size-4);
    }
  }
  & > h1 {
    margin-bottom: var(--size-5);
  }
}
